<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-12">
				<img alt="DropChat logo" class="img-responsive" src="modules/core/img/brand/logo.png" style="margin:0 auto;"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<img alt="DropChat" class="img-responsive" src="modules/core/img/brand/brandLarge.png" style="margin:0 auto; height:125px;"/>
				<div ng-app="ngMap">
			<map center="current-location" zoom="14" tilt="45" heading="90"
						street-view-control="false">
        		<info-window position="current-location" ng-if="!authentication.user">
        			<div style="text-align:center;">Sign up for an account and drop a message wherever you'd like!<br />
        				<b>CURRENTLY UNDER CONSTRUCTION</b>
        			</div>
        			
        		</info-window>
        		<info-window position="current-location" ng-if="authentication.user">
        			<div style="text-align:center;">
        				Welcome, <span style="font-weight: bold" ng-bind="authentication.user.displayName"></span>!<br />
        				Pick a spot anywhere on the map and begin dropping messages for other people to see!
        			</div>
        			
        		</info-window>
     		</map>
		</div>
			</div>
		</div>
		<br>
    </div>
	<!--<div class="well">
		
	</div>-->
</section>
