<section data-ng-controller="HomeController">
<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
	<div class="jumbotron text-center">
		<div class="row">
<!--
			<div class="col-md-7">
				<img alt="DropChat" class="img-responsive" src="modules/core/img/brand/brandLarge.png" style="height:90px; float:right;"/>
			</div>
			<div class="col-md-5">
				<img alt="DropChat logo" class="img-responsive" src="modules/core/img/brand/logo.png" style="height:90px; margin-top:-15px;"/>
			</div>
			-->
		</div>
		<div class="row">
			<div id="toast_wrapper">
				<div id="toast"></div>
			</div>
			<div class="col-md-12">

				<div ng-app="ngMap" class="ng-scope" ng-controller="EventArgumentsCtrl" style="border:5px solid #0198CD; border-radius:4px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);">
					<map center="current-location" zoom="14" tilt="45" heading="90" on-click="placeMarker()"
								street-view-control="false" ng-if="!authentication.user" style="border-radius:10px;">
		        		<info-window position="current-location">
		        			<div style="text-align:center;">
		        				Welcome to<br />
		        				<img src="modules/core/img/brand/brandLarge.png" height="125"/><span style="font-size:10px">alpha</span><br/>
		        				Sign up for an account and drop a message wherever you'd like!<br />
		        			</div>
		        			
		        		</info-window>
		     		</map>
		     		<map center="current-location" zoom="14" tilt="45" heading="90"
								street-view-control="false" ng-if="authentication.user" style="border-radius:10px;" 
								on-click="placeMarker()" zoom-control="true" zoom-control-options="{style:'LARGE', position:'LEFT_CENTER'}" scale-control="true">

					</map>
				</div>
			</div>
		</div>
		<input id="pac-input" class="controls" type="text" placeholder="Map Search"/>
    </div>
	<!--<div class="well">
		
	</div>-->
</section>
