<section data-ng-controller="FaqController">
	<div class="page-header">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="row">
    	<div class="col-md-7">
    	<p class="bg-primary"><b>How do I drop a message?</b></p>

<p>After you create an account with us, you can click anywhere on the map and type your message in the pop-up window.</p>


<p class="bg-primary"><b>How can I edit my messages?</b></p>

<p>To edit a message you’ve already submitted, navigate to your posts page from the navigation bar. You’ll find an “edit” and a “delete” button to the right of their corresponding posts.</p>


<p class="bg-primary"><b>How can I see more posts from another user?</b></p>

<p>Once you click on the map to view another user’s message, click on that user’s name to view their profile.</p>


<p class="bg-primary"><b>Can I search for a location?</b></p>

<p>Yes. A search bar can be found beneath the map. Just type in an address and the map will refresh to show you that location.</p>


<p class="bg-primary"><b>I don’t want others to see my real name. How do I change this?</b></p>

<p>Use the navigation bar to go to your profile page. From there, you can change your name to whatever you’d like to be displayed on your messages.</p>

    	</div>
    </div>
</section>